{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ndb-boutique</title>
    <link rel="stylesheet" href="{% static '/ndb_app/css/style.css' %}" />

    <!-- <link rel="stylesheet" href="css/style.css" /> -->
  </head>
  <body>
    <header>
      <div class="header_top">
        <img
          class="header_top_logo"
          src="{% static 'images/logo/logo.png' %}"
          alt=""
        />
        <div>
          <input
            class="header_top_input"
            type="text"
            placeholder="search here"
          />
        </div>
        <img
          class="header_top_logo"
          src="{% static 'images/logo/logo.png' %}"
          alt=""
        />
      </div>
      <nav class="header_navbar">
        <!-- <a class="header_navbar_link" href="#">السلة</a> -->
        <a class="header_navbar_link" href="{% url 'qr_page' %}">الكي ار كود</a>
        <!-- <a class="header_navbar_link" href="#">من نحن</a> -->
        <a class="header_navbar_link" href="/ndb_app/">العطور</a>
        <!-- <a class="header_navbar_link" href="#">الرئيسية</a> -->
      </nav>
    </header>
    <main>
      <section class="product_detatils">
        <article class="product_detatils_article">
          <div class="product_detatils_image">
            <img
              class="product_detatils_image"
              src="{{ product.image.url }}"
              alt=""
            />
          </div>
          <div class="product_detatils_texts">
            <p>{{product.name}}</p>
            <p>{{product.price}}</p>
            <button class="product_detatils_btn">أضف للسلة</button>
          </div>
        </article>
        <div class="product_detatils_wasf">
          <h1>وصف المنتح</h1>
        </div>
        <div class="product_detatils_descri">
          <p>{{product.description}}</p>
        </div>
      </section>
    </main>
    <!-- <footer>all rgight are reserved</footer> -->
  </body>
</html>
