<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ndb-boutique</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <div class="header_top">
        <img class="header_top_logo" src="images/logo/logo.png" alt="" />
        <div>
          <input
            class="header_top_input"
            type="text"
            placeholder="search here"
          />
        </div>
        <div>
          <p>السلة</p>
        </div>
      </div>
      <nav class="header_navbar">
        <a class="header_navbar_link" href="#">من نحن</a>
        <a class="header_navbar_link" href="#">العطور</a>
        <a class="header_navbar_link" href="#">الرئيسية</a>
      </nav>
    </header>
    <main>
      <section class="promotion_section">
        <div class="promotion_section_text">
          <h1>ركن العطور</h1>
        </div>
        <div class="promotion_section_div">
          <img
            class="promotion_section_div_image"
            src="images/logo/perdume.png"
            alt=""
          />
        </div>
      </section>
      <section class="products_section">
        <a href="#">
          <figure class="products_section_product">
            <img
              class="products_section_product_image"
              src="images/products/product1.png"
              alt="product"
            />

            <p>شرون عطر بوشرون للنساء - او دو بارفيوم</p>
            <p>1000 أوقية</p>
            <div class="products_section_product_btns">
              <button class="products_section_product_btn">
                اضافة الي السلة
              </button>
              <div class="products_section_product_btns_botom">
                <button class="products_section_product_btn">+</button>
                <p class="products_section_product_quantity">1</p>
                <button class="products_section_product_btn">-</button>
              </div>
            </div>
          </figure>
        </a>
        <a href="#">
          <figure class="products_section_product">
            <img
              class="products_section_product_image"
              src="images/products/product1.png"
              alt="product"
            />
            <p>شرون عطر بوشرون للنساء - او دو بارفيوم</p>
            <p>1000 أوقية</p>
            <div class="products_section_product_btns">
              <button class="products_section_product_btn">
                اضافة الي السلة
              </button>
              <div class="products_section_product_btns_botom">
                <button class="products_section_product_btn">+</button>
                <p class="products_section_product_quantity">1</p>
                <button class="products_section_product_btn">-</button>
              </div>
            </div>
          </figure>
        </a>
        <a href="#">
          <figure class="products_section_product">
            <img
              class="products_section_product_image"
              src="images/products/p2.png"
              alt="product"
            />
            <p>شرون عطر بوشرون للنساء - او دو بارفيوم</p>
            <p>1000 أوقية</p>
            <div class="products_section_product_btns">
              <button class="products_section_product_btn">
                اضافة الي السلة
              </button>
              <div class="products_section_product_btns_botom">
                <button class="products_section_product_btn">+</button>
                <p class="products_section_product_quantity">1</p>
                <button class="products_section_product_btn">-</button>
              </div>
            </div>
          </figure>
        </a>
        <a href="#">
          <figure class="products_section_product">
            <img
              class="products_section_product_image"
              src="images/products/p3.png"
              alt="product"
            />
            <p>شرون عطر بوشرون للنساء - او دو بارفيوم</p>
            <p>1000 أوقية</p>
            <div class="products_section_product_btns">
              <button class="products_section_product_btn">
                اضافة الي السلة
              </button>
              <div class="products_section_product_btns_botom">
                <button class="products_section_product_btn">+</button>
                <p class="products_section_product_quantity">1</p>
                <button class="products_section_product_btn">-</button>
              </div>
            </div>
          </figure>
        </a>
      </section>
    </main>
    <footer>all rgight are reserved</footer>
  </body>
</html>
