{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ndb-boutique</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- <link rel="stylesheet" href="css/style.css" /> -->
  </head>
  <body>
    <header>
      <div class="header_top">
        <img
          class="header_top_logo"
          src="{% static 'images/logo/logo.png' %}"
          alt=""
        />
        <div>
          <input
            class="header_top_input"
            type="text"
            placeholder="search here"
          />
        </div>
        <img
          class="header_top_logo"
          src="{% static 'images/logo/logo.png' %}"
          alt=""
        />
      </div>
      <nav class="header_navbar">
        <!-- <a class="header_navbar_link" href="#">السلة</a> -->
        <a class="header_navbar_link" href="{% url 'qr_page' %}">الكي ار كود</a>
        <!-- <a class="header_navbar_link" href="#">من نحن</a> -->
        <a class="header_navbar_link" href="/ndb_app/">العطور</a>
        <!-- <a class="header_navbar_link" href="#">الرئيسية</a> -->
      </nav>
    </header>
    <main>
      <section class="products_section">
        {% for p in products %}
        <a href="/ndb_app/{{p.id}}">
          <figure class="products_section_product">
            <img
              class="products_section_product_image"
              src="{{ p.image.url }}"
              alt="product"
            />

            <p>{{p.name}}</p>
            <p>{{p.price}}</p>
            <div class="products_section_product_btns">
              <button class="products_section_product_btn">
                اضافة الي السلة
              </button>
              <div class="products_section_product_btns_botom">
                <button class="products_section_product_btn">+</button>
                <p class="products_section_product_quantity">1</p>
                <button class="products_section_product_btn">-</button>
              </div>
            </div>
          </figure>
        </a>
        {% endfor %}
      </section>
    </main>
    <!-- <footer>all rgight are reserved</footer> -->
  </body>
</html>
